# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.dtv-live-weather.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\drumm\Documents\vscode proj\dtv-live-weather\.idea\.idea.dtv-live-weather.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
